<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Soap57ProviderBinding" />
                <binding name="ISoap57Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.smswang.net:7801/sms" binding="basicHttpBinding"
                bindingConfiguration="Soap57ProviderBinding" contract="ServiceReference1.Soap57ProviderPortType"
                name="Soap57ProviderPort" />
        </client>
    </system.serviceModel>
</configuration>