@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">修改密码</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">

        <!--编辑对话框-->
        <div id="editDlg">
            <div class="col-xs-12" style="margin-top:5%">
                <form class="form-horizontal" id="editForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" > 账号 </label>
                        <div class="col-sm-9">
                            <input type="text" id="Account" v-model="Account" readonly  value='@ViewData["account"]' />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" > 姓名 </label>
                        <div class="col-sm-9">
                            <input type="text" id="Name" v-model="Name" readonly value='@ViewData["name"]'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 旧密码 </label>
                        <div class="col-sm-9">
                            <input type="password" id="Password" v-model="Password" />
                            <input type="hidden" id="originalPass" value='@ViewData["password"]' />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 新密码 </label>
                        <div class="col-sm-9">
                            <input type="password" id="NewPassword" v-model="NewPassword" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"> 确认新密码 </label>
                        <div class="col-sm-9">
                            <input type="password" id="NewPassword2" v-model="NewPassword2" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8" style="text-align:center">
                            <input type="button" id="btnOK" class="btn" value=" 保  存" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<script src="~/Content/scripts/zTree/js/jquery.ztree.excheck.js"></script>
<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/parentTreeMultiple.js"></script>
<script src="~/BllScripts/Business/changePassword.js"></script>
<script src="~/BllScripts/jqEvent.js"></script>