@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Form.cshtml";
}
<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" id="a_title01">订单确认</a>
        </li>
        <li class="active">列表</li>
    </ul><!-- /.breadcrumb -->
</div>
<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="widget-box widget-color-blue">
                    <div class="widget-header">
                        @Html.Action("MenuHeader", "Home")
                    </div>
                    <div class="widget-body gridwidth">
                        <div class="widget-main">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="hidden" id="hidAction" value='@ViewData["approve_action"]' />
                                    <label>&nbsp;订单日期:从</label>
                                    @*<input type="date" class="form-control" id="qryDateFrom" maxlength="30" placeholder="请输入" />*@
                                    <input id="qryDateFrom" style="width:120px;" class="layui-input" placeholder="请输入" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
                                    <label>到</label>
                                    @*<input type="date" class="form-control" id="qryDateTo" maxlength="30" placeholder="请输入" />*@
                                    <input id="qryDateTo" style="width:120px;" class="layui-input" placeholder="请输入" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})">
                                </div>

                                <div class="form-group">
                                    <label>&nbsp;订单号:</label>
                                    <input type="text" class="form-control" style="width:80px;" id="qryOrderID" maxlength="30" placeholder="请输入" />
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;客户名称:</label>
                                    <input type="text" class="form-control" style="width:120px;" id="qryCustomerName" maxlength="30" />
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;状态:</label>
                                    @*<input type="text" class="form-control" style="width:80px;" id="qryOrderStatus" maxlength="30" placeholder="请输入" />*@
                                    <select id="qryOrderStatus" class="form-control" style="width:80px;">
                                        <option value="">全部</option>
                                        <option value="0">未确认</option>
                                        <option value="1">待审核</option>
                                        <option value="2">已审核</option>
                                    </select>
                                </div>
                                <button id="btnQuery" class="btn-primary">查 询</button>

                            </form>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table id="maingrid"></table>
                                    <div id="grid-pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--编辑对话框-->
    <div id="editDlg" style="display: none">
        <div class="col-xs-12">
            <form class="form-horizontal" id="editForm">
                <br />
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="">客户编号</label>
                    <div class="col-sm-2">
                        <input type="text" id="Customer_id" v-model="Customer_id" maxlength="10" isvalid="yes" checkexpession="NotNull" errormsg="客户编号" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="">客户名称</label>
                    <div class="col-sm-2">
                        <input type="text" id="Customer_name" v-model="Customer_name" maxlength="10" isvalid="yes" checkexpession="NotNull" errormsg="客户名称" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for=""> 计划箱数 </label>
                    <div class="col-sm-2">
                        <input type="text" id="Quantity" v-model="Quantity" v-on:change="reCalUnitPrice" placeholder="计划箱数" maxlength="10" isvalid="yes" checkexpession="Num" errormsg="计划箱数" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="">每箱单价</label>
                    <div class="col-sm-2">
                        <input type="text" id="Unit_price" v-model="Unit_price" placeholder="每箱单价" maxlength="10" isvalid="yes" checkexpession="Double" errormsg="每箱单价" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for=""> 服务项目 </label>
                    <div class="col-sm-2">
                        @*<input type="text" id="Service_item" v-model="Service_item" placeholder="请选择" maxlength="60" isvalid="yes" checkexpession="NotNull" errormsg="服务项目" />*@
                        <select id="Service_item" v-model="Service_item" isvalid="yes" checkexpession="NotNull" errormsg="服务项目">
                            <option value="" selected>请选择服务项目</option>
                            <option value="存储费">存储费</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for=""> 联系人</label>
                    <div class="col-sm-2">
                        <input type="text" id="Contacts" v-model="Contacts" placeholder="请输入" maxlength="30" isvalid="yes" checkexpession="NotNull" errormsg="联系人" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for=""> 手机号码 </label>
                    <div class="col-sm-2">
                        <input type="text" id="Contact_tel" v-model="Contact_tel" placeholder="请输入" maxlength="11" isvalid="yes" checkexpession="Mobile" errormsg="手机号码" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for=""> 送箱地址 </label>
                    <div class="col-sm-6">
                        <input type="text" isvalid="yes" checkexpession="NotNull" errormsg="送箱地址" class="input-xxlarge" id="Contact_address" v-model="Contact_address" placeholder="请输入送箱地址" maxlength="100" />
                        @*<input type="hidden" id="Unit_price" value="5" />*@
                        @*<input type="hidden" id="Customer_id" v-model="Customer_id" />
                        <input type="hidden" id="Customer_name" v-model="Customer_name" />*@
                        <input type="hidden" id="User_ID" value='@OpenAuth.App.SSO.AuthUtil.GetUserName()' />
                        <input type="hidden" id="Amount"/>
                    </div>
                </div>

            </form>

        </div>    
    </div>

    <div class="col-md-12" id="divOrderCatchPreview" style="display:none;">
        <div id="divPrintArea">
            <div class="col-md-12 row">
                <label class="col-md-12 text-center bigger-150 bolder">订&nbsp;&nbsp;单</label>
            </div>
            <div class="col-md-12 row header">
                <label class="col-md-6 text-right">订单号：</label>
                <label class="col-md-6 text-left" id="lblOrderID"></label>
            </div>

            <div class="col-md-12 row">
                <label class="col-md-6 text-right">单位名称：</label>
                <label class="col-md-6 text-left" id="lblCustName"></label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">服务项目：</label>
                <label class="col-md-6 text-left" id="lblServiceItem"></label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">存储箱数：</label>
                <label class="col-md-6 text-left" id="lblQuantity">箱</label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">联系人：</label>
                <label class="col-md-6 text-left" id="lblContact"></label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">手机号码：</label>
                <label class="col-md-6 text-left" id="lblContactMob"></label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">送箱地址：</label>
                <label class="col-md-6 text-left" id="lblAddress"></label>
            </div>
            <div class="col-md-12 row">
                <label class="col-md-6 text-right">存储单价：</label>
                <label class="col-md-6 text-left" id="lblUnitPrice">5</label>
            </div>

            <div class="col-md-12 row">
                <label class="col-md-12 text-center bigger-150 bolder">合计金额&nbsp;&nbsp;&nbsp;<span id="lblTotalAmount"></span>元/月</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4 text-center">
                <input type="button" class="btn-danger" value="订单打印" id="btnPrint" />
            </div>
        </div>
    </div>

</div><!-- /.page-content -->

<script src="~/Content/scripts/zTree/js/jquery.ztree.excheck.js"></script>
<script src="~/BllScripts/grid.js"></script>
<script src="~/BllScripts/parentTreeMultiple.js"></script>
<script src="~/BllScripts/Business/order_approve.js"></script>
<script src="~/BllScripts/Business/order_catch_inConfirmPage.js"></script>
<script src="~/BllScripts/jqEvent.js"></script>
<script src="~/Content/scripts/utils/ui.js"></script>
<script src="~/Content/scripts/dist/js/bootstrap-select.js"></script>
<link href="~/Content/scripts/dist/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/scripts/business/public.js"></script>
<script src="~/BllScripts/Business/layer_validator.js"></script>
@*<script src="~/Content/scripts/plugins/datepicker/DatePicker.js"></script>*@
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
    });
</script>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
        word-break: break-all;
    }
</style>